#container {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    background-color: lightblue;
    border: 1px black solid;
    cursor: pointer;
}
.header{
    border: 1px black solid;
}
.tag{
    border: 1px black solid;
    display: none;
}
