#dm-container {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 200px;
    background-color: #FEFEFE;
    border: 1px solid silver;
    border-radius: 2px;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.dm-header{
    border: none;
    border-radius: 2px;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    color: darkorange;
}
.dm-tag{
    border: none;
    border-radius: 2px;
    display: none;
    font-size: 14px;
}
.dm-subject{
    font-size: 14px;
    padding: 2px;
}
a {
    color: #07C;
}

.dm-group {
    font-size: 10px;
    color: gray;
}

hr {
    margin-top: 20px;
}

#dm-best-answer a:hover {
    color: #07C;
}